{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}HeisAPP - Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Home Page</h1>
</div>
<div>
    {% if current_user.can(Permission.WRITE) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

{# This has some stuff about nav tabs #}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %} {# which they need to be to see the page #}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {# This shows all the posts sent in for the selected page. #}
    {% include '_posts.html' %}
</div>

{# This is me coding in some pagination atrributes, and how you can use them. #}
{% if pagination.has_prev %}
    <a class='btn btn-default' href="{{url_for('main.index', page = pagination.prev_num)}}">
      Prev Page
    </a>
{% endif %}

{% if pagination.has_next %}
    <a class='btn btn-default' href="{{url_for('main.index', page = pagination.next_num)}}">
      Next Page
    </a>
{% endif %}

{# This is how you get the pagination widget #}
<div class="pagination">
  {{macros.pagination_widget(pagination,'.index')}}
</div>
{% endblock %}

{#
This part puts in the markdown text, which just displays your text Below
the form in a different way.  This is truly for blog posts.
Put a #, ##, or ### at the beginning of a line for different text sizes.
This does not display on the actual entry itself.
#}
{% block scripts %}
{{super()}}
{{ pagedown.include_pagedown()}}
{% endblock %}
